header{
    display : flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 1200px;
    margin : auto;
    margin-top: 50px;
    color: green;
    border : 1px solid red;

}

.logo{
    position : relative;

    font-size : 50px;
    margin-right: 30px;
}
select, #searchbar{
    width: 800px;
    border : 3px solid green;
    height: 50px;
}
select{
    width: 150px;

}
#searchbar{
    display : flex;
    align-items : center;
    width: 660px;
    padding-left: 15px;
}

#searchtext{

    outline : 0;

}
#searchtext{
    width: 600px;
    height: 40px;
    background: white;
    border: 0px;

}
header img{
    width: 35px;
    height: 35px;
    cursor : pointer;


}
article{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
    margin-top: 50px;
    height: 1500px;

}

.background{


    background-position : center;
    background-image : url('mainimg.png');
    background-repeat : no-repeat;
    height: 341px;
    width: 1600px;


}