div{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: blue;

    /*원하는 영역 부모>자식 */

}

.container{
    background-color: yellow;
    width: 100vh;
    height: 100vh;
    /*position : relative;*/

}

.block{
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
    font-size: 20px;
    margin: 5px;
}

#a{
    position: relative;
    left: 100px;
    top: 20px;

}
#b{
    position: static;
}

#c{
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*static이 아닌 조상에 속해있다면 조상의 위치를 기준으로, 조상이없다면*/
    /*바디를 기준으로 움직인다. c의 조상태그인 article태그의 속성인
     container 선택자에서 position을 지정해주면 c블럭의 위치가
     달라지는 것을 확인할 수 있다.*/
}
#d{
    position :sticky;
    left: 50px;
    /*fixed와 비슷하긴 한데 조금 다르다*/
}
#e{
    position: fixed;
    bottom: 0px;
    /*창의 절대적인 위치에 고정이 돼있다*/
}
/*
span{
    background-color: red;
    display: block;
    margin: 10px;
}
*/