body{ 
    font-family  : "NanumGothic";
    color:rgb(0, 255, 38);
    background-color: rgb(88, 57, 103);
}    
/* 아래 body부분에서 동일한 이름을 가진 클래스들끼리 묶어서 다른 스타일을 주고 싶다면 다음과 같이 한다.
.클래스명{}
*/
.male{
    color:blue;
}
.female{
    color : red;
}
ul{
    /* ul의 앞의 기호를 없애기*/
    list-style: none;
}
